.row {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
  }
  .row > * {
    position: relative;
    display: block;
    height: 180px;
    margin: 2.5px;
    flex-grow: 1;
  }
  .row > * > img {
    height: 300px;
    object-fit: cover;
    max-width: 100%;
    min-width: 100%;
    vertical-align: bottom;
  }
 